<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Product Manager</title>
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
                    </head>
                    <body>
                        <div align="center">
                            <p th:text="${session.mySessionAttribute}" th:unless="${session == null}">[...]</p>
                            <h1>Product List</h1>
                            <a href="new">Create New Product</a>
                            <br/><br/>
                            <table border="1" cellpadding="10" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Peso</th>
                                        <th>Estatura</th>
                                        <th>IMC</th>
                                        <th>Acciones</th>
                                      <!--  <th>Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="imc : ${listImcs}">
                                        <td th:text="${imc.id}">Product ID</td>
                                        <td th:text="${imc.nombrePersona}">Name</td>
                                        <td th:text="${imc.peso}">Brand</td>
                                        <td th:text="${imc.altura}">Made in</td>
                                        <td th:with="result=${imc.altura * imc.altura}"><span th:text="${imc.peso / result}"></span></td>
                                       <!-- <td th:text="${product.price}">Price</td> -->
                                        <td>
                                            <a th:href="@{'/edit/' + ${imc.id}}">Edit</a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a th:href="@{'/delete/' + ${imc.id}}">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>    
                    </body>
                    </html>